<form  #form="ngForm"  
(ngSubmit)="submit()">
    <h1> Checkout </h1>
    <label for="fullName">Full Name: </label>
    <input 
    id='fullName'
    type='text'  
    required 
    minlength="9" 
    placeholder="Enter First Name" 
    [(ngModel)]="fullName">
    
    <label for='email'>email</label>
    <input 
    id="emai" 
    type='text' 
    required 
    placeholder ='example@email.com' 
    [(ngModel)]="email">

    <label for="number">Number:</label>
    <input 
    id="number" 
    type='number' 
    requierd 
    placeholder="01234****" 
    minlebght='7'
     maxlenght="11"
     [(ngModel)]="number">

    <label for="adress">Address: </label>
    <input 
    id='adress' 
    type='text'  
    required  
    minlength="10" 
    placeholder="Enter Address" 
    [(ngModel)]="adress">
    
    <label for='creditcard'>Credit Card Number: </label>
    <input 
    id='cerditcard'
    type='text'  
    required 
    minlength="16"
    maxlength="16" 
    placeholder="(16-digit number)" 
    [(ngModel)]="creditcard">
   
    <input [disabled]="form.invalid" type='submit' value="Submit" >
  </form>
